<header>        
        <nav variant="pills" class="navbar narbar-expand-lg ">
            <div class="container-fluid">
                <div id="logoHead">
                    <a routerLink="/"><img src="../../assets/img/petitvillage.png" alt="Logo Au Petit Village"></a>
                    <a routerLink="/"><h1> Au Petit Village</h1></a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <ul className="navbar-nav ms-auto" >
                        <a class="nav-link mx-0 mx-lg-1 py-3 px-0 px-lg-3" routerLink="/">Accueil</a>
                        <a class="nav-link mx-0 mx-lg-1 py-3 px-0 px-lg-3" routerLink="about">À Propos</a>
                    </ul>
                </div>
            </div>
        </nav>
</header>
