<footer>
    <p>© Au Petit Village 2024, Tous droits réservés</p>
    <section>
        <h3>Suivez-nous !</h3>
        <div class="social">
            <a href="http://www.facebook.com" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-facebook fa-2xl fa-beat" style="color: #000000"></i>
            </a>
            <a href="http://www.twitter.com" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-x-twitter fa-2xl fa-beat" style="color: #000000"></i>
            </a>
            <a href="http://instagram.com" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-square-instagram fa-2xl fa-beat" style="color: #000000"></i>
            </a>
        </div>  
    </section>
</footer>