footer{
    background-color: #F9D0A3;
    border-top: solid 0.2rem #151217 ;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a i{
    padding-left: 0.8rem;
}