<main>
    <h1>Bienvenue Au Petit Village</h1>
    <h2>La boutique préférée, de votre gaulois préféré !</h2>
    <div>
        <p>
            C'est ici que l'univers d'Astérix et Obélix prend vie à travers des figurines faites mains ! 
            Plongez dans la magie de la Gaule antique avec nos créations uniques, capturant l'esprit et 
            la vivacité des personnages emblématiques de la bande dessinée. Chaque pièce est sculptée avec passion et 
            précision, offrant aux collectionneurs et aux amateurs une expérience authentique et mémorable.
        </p>
    </div>
</main>
