<main>
    <h1>Bienvenue Au Petit Village</h1>
    <h2>La boutique préférée, de votre gaulois préféré !</h2>
    <div>
        <h3>Nous découvrir</h3>
        <p>
            C'est ici que l'univers d'Astérix et Obélix prend vie à travers des figurines faites mains ! 
            Plongez dans la magie de la Gaule antique avec nos créations uniques, capturant l'esprit et 
            la vivacité des personnages emblématiques de la bande dessinée. Chaque pièce est sculptée avec passion et 
            précision, offrant aux collectionneurs et aux amateurs une expérience authentique et mémorable.
        </p>
    </div>
    <div>
        <h3>Notre passion</h3>
        <p>
            Nos sculteurs et scultrices sont des artisans passioné. Chaque pièce est minutieusement taillée pour donner
            un rendu le plus fidèle possible, avec le souhait d'avant tout rendre un hommage à l'univers d'Uderzo et Gosciny 
            qui nous tient tant à coeur.
        </p>
    </div>
    <div>
        <h3>Votre commande</h3>
        <p>
            Au Petit Village s'engage à expédier votre commande sous 48 heures, hors week-end et jours ferié. 
            Pour toute réclammation, contactez-nous par téléphone.
        </p>
    </div>
</main>
