.home{
    background-color: #F9D0A3 ;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation, .produits{    
    margin-top: 0.2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0.4rem solid #DA001E;
    border-radius: 15px;
    max-width: 45%;
}

img{
    width: 20%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article{
    padding: 2rem 1rem;
    margin: 2rem 0rem;    
    border: 0.2rem solid black;
}

button{
    background-color: #FDD90B ;
    width: 10rem;
    height: 3rem;
    color: white;
    border: 0.3rem solid #DA001E;
    font-weight: bold;
}

input{
    margin-left: 1rem;
}